*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    scrollbar-width: none !important;
    font-family: Phantomsans, sans-serif;
}
html, body{
    height: 100%;
    background-color: #212121;
}
::-webkit-scrollbar-track {
    border-radius: 9px;
    background-color: rgb(65, 63, 63);
}
::-webkit-scrollbar {
    width: 0px;
    height: 4px;
    background: rgb(65, 63, 63);
    border-radius: 9px;
}
:root{
    scrollbar-color: rgb(65, 63, 63) rgb(65, 63, 63) !important;
    scrollbar-width: none !important;
}
.clear{
    clear: both;
}
.back{
    width: 100%;
    height: 75%;
    background-color: #292929fb;
    overflow-y: scroll;
    position: relative;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: rgba(255, 255, 255, 0.445);
}
.button_c {
    float: left;
    width: 46%;
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    margin: 25px 2%;
    padding: 3px;
    text-decoration: none;
    white-space: nowrap;
}
.button_c span {
    background-color: rgb(5, 6, 45);
    padding: 8px 0px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}
.container-produtos{
    width: 90%;
    margin: 0px auto;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.descricao-produto{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    overflow-x:auto;
    margin-left: 10px;
}
.descricao-produto::first-letter{
    text-transform: uppercase;
}
.desc{
    display: flex;
    border-radius: 15px;
    align-items: center;
}
.check{
    width: 25px;
    height: 25px;
    margin: 0 20px 0 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    background-image: url('imagens/verifica1.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.check_active{
    background-image: url('imagens/verifica.png');
}
.excluir{
    width: 26px;
    height: 26px;
    margin: 0 5px 0 20px;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    background-image: url('imagens/excluir.png');
    background-position: center;
    background-size: cover;
}
.editar{
    width: 24px;
    height: 24px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    background-image: url('imagens/editar.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
}
.buttons{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.span-input{
    width: 90%;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
    cursor: pointer;
}
.buttons input{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 6px;
    border: none;
    background-color: rgb(5, 6, 45);
    padding: 8px 16px;
    color: white;
}
.buttons input:focus{
    outline: none;
}
::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.493);
}
.button_d {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    max-width: 100%;
    min-width: 100px;
    margin: 15px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}
.button_d:active,.button_d:hover {
    outline: 0;
}
.button_d span {
    background-color: rgb(5, 6, 45);
    padding: 8px 16px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.button_d:hover span {
    background: none;
}
.button_d:active {
    transform: scale(0.9);
}


@media screen and ( max-width:768px ){
    .button_c {
        width: 96%;
        margin: 15px 2%;
    }
}